/* Breakpoints */
$bp-xs: 320;
$bp-sm: 480;
$bp-md: 768;
$bp-lg: 1024;
$bp-xl: 1367;

/* Media queries */
$sm: '(min-width: #{$bp-sm}px)';
$md: '(min-width: #{$bp-md}px)';
$lg: '(min-width: #{$bp-lg}px)';
$xl: '(min-width: #{$bp-xl}px)';

$only-xs: '(max-width: #{($bp-sm - 1)}px)';
$only-sm: '(min-width: #{$bp-sm}px) and (max-width: #{($bp-md - 1)}px)';
$only-md: '(min-width: #{$bp-md}px) and (max-width: #{($bp-lg - 1)}px)';
$only-lg: '(min-width: #{$bp-lg}px) and (max-width: #{($bp-xl - 1)}px)';
$only-xl: '(min-width: #{$bp-xl}px)';

$up-to-sm: '(max-width: #{($bp-sm - 1)}px)';
$up-to-md: '(max-width: #{($bp-md - 1)}px)';
$up-to-lg: '(max-width: #{($bp-lg - 1)}px)';
$up-to-xl: '(max-width: #{($bp-xl - 1)}px)';

/* Examples */
@media #{$sm} {
}
@media #{$md} {
}
@media #{$lg} {
}
@media #{$xl} {
}

@media #{$only-xs} {
}
@media #{$only-sm} {
}
@media #{$only-md} {
}
@media #{$only-lg} {
}
@media #{$only-xl} {
}

@media #{$up-to-sm} {
}
@media #{$up-to-md} {
}
@media #{$up-to-lg} {
}
@media #{$up-to-xl} {
}
